body{
    margin: 0;
    padding: 0;
    font-family: "Titillium Web", Arial, sans-serif;
}


#intro-video:nth-child(n):hover{
    cursor: pointer;
}

.section-cardsall:hover{
    cursor: pointer;
}

#intro-choice button:hover{
    cursor: pointer;
}

#intro-choice button:nth-child(1):hover{
    filter: brightness(115%);
}

#article-button button:hover{
    cursor: pointer;
    filter: brightness(175%);
}

#footer-donate button:hover{
    cursor: pointer;
    filter: brightness(115%);
}

#header-1{
    background-color: #f7931a;
    width: 100%;
    margin: 0;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

#header-2{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

#nav-bar ul{
    list-style: none;
    margin: 0;
}

#nav-bar ul li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

#nav-bar ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #13161f;
    font-weight: 500;
}

#language-selector{
    width: 132px;
}

#language-selector a{
    text-decoration: none;
    font-size: 15px;
    color: #13161f;
}

#section-intro{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

#quote{
    text-align: center;
    font-size: 51px;
    font-weight: lighter;
    width: 70%;
    margin: auto;
    line-height: 77px;
}

#intro-choice button{
    height: 55px;
    width: 290px;
    border: #f7931a solid 1px;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 149, 0);
    margin: 3px;
}

#intro-choice button:nth-child(1){
    background-color: rgb(255, 149, 0);
    color: white;
}

#intro-video{
    display: flex;
    margin-top: 40px;
}

#intro-video img{
    margin-right: 10px;
}

#section-main{
    background-image: url("../images/bircoin-mainss.png");
    background-repeat: no-repeat;
    margin-top: 100px;
}

#section-background{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 350px;
}

#section-overview{
    color: white;
    font-size: 26px;
}

#section-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 70px
}

.section-cardsall{
    width: 260px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: rgb(9, 12, 20) ;
    margin: 10px;
    text-align: center;
}

.section-cardsall img{
    width: 45px;
    margin-top: 10px
}

.sectioncard-title{
    font-size: 22px;
}


#article-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 70px
}

#article-main-title{
    text-align: center;
    color: #ff7e00;
    font-size: 26px;
    font-weight: 400;
}

#article-content{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
}

#article-left{
    text-align: left;
    width: 446px;
    padding-left: 20px;
    font-size: 20px;
    color: #4d5060;
}

.article-text-bold{
    font-weight: 700;
}

.article-text-link a{
    font-weight: 700;
    text-decoration: none;
    color: #3490e6;
}

#article-list{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.article-each-list{
    display: flex;
    font-size: 17px;
    font-weight: 600;
}

.article-each-list img{
    width: 30px;
    margin-right: 30px;
    fill: rebeccapurple;
}

#article-footer{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#article-button button{
    width: 290px;
    height: 55px;
    background-color: #13161f;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

#footer-container{
    background-image: url("../images/bircoin-mainss.png");
    background-repeat: no-repeat;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-main-logo{
    margin-top: 280px;
}

#footer-contents{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 90px
}

#footer-left{
    flex: 1;
}

#footer-donate{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 16px;
    
}

#footer-donate button{
    margin-left: 10px;
    width: 90px;
    height: 35px;
    border: none;
    background-color: #ff7e00;
}

#footer-right{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-list-heading{
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.footer-list ul{
    padding: 0;
}

.footer-list ul li{
    list-style: none;
    padding-bottom: 10px;
}

.footer-list ul li a{
    text-decoration: none;
    color: #9d9d9d;
}

#footer-bottom{
    background-color: black;
    height: 80px;
    color: #9d9d9d;
    display: flex;
    justify-content: start  ;
}

#footer-bottom-content{
    width: 80%;
    margin: auto;
}